In [136]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import class_weight

import tensorflow as tf

In [ ]:
#Link to dataset https://www.kaggle.com/kemical/kickstarter-projects

In [137]:
data = pd.read_csv('D:/Music/CSV/kick1.csv')
data

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [138]:
data.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [139]:
drop_cols = ['ID','name']
data = data.drop(drop_cols, axis = 1)
data

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.00
378657,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
378658,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
378659,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
378660,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [140]:
data['state'].value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

In [141]:
data['usd pledged'].mean()

7036.728867109139

In [142]:
data['usd pledged'] = data['usd pledged'].fillna(data['usd pledged'].mean())

In [143]:
data.isna().sum()

category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [144]:
data['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [145]:
data.query("state != 'failed' and state != 'successful'")

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
4,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
8,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
40,Nonfiction,Publishing,CAD,2018-01-19,3000.0,2017-11-20 18:15:14,592.00,live,24,CA,185.65,472.88,2396.36
68,Design,Design,CAD,2015-08-07,15000.0,2015-07-08 21:46:53,700.00,canceled,6,CA,553.32,535.09,11466.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378640,Fiction,Publishing,USD,2014-09-11,1000.0,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
378643,3D Printing,Technology,USD,2014-05-26,6500.0,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
378648,Tabletop Games,Games,USD,2016-02-23,500.0,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
378655,Poetry,Publishing,CAD,2014-09-20,5500.0,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
378656,Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00

In [146]:
data.query("state != 'failed' and state != 'successful'").index

Int64Index([     4,      8,      9,     40,     68,     70,     73,     74,
                93,    104,
            ...
            378589, 378593, 378601, 378624, 378626, 378640, 378643, 378648,
            378655, 378656],
           dtype='int64', length=46986)

In [147]:
data = data.drop(data.query("state != 'failed' and state != 'successful'").index, axis = 0).reset_index(drop = True)
data

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0,52375.0,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,Small Batch,Food,USD,2017-04-19,6500.0,2017-03-20 22:08:22,154.0,failed,4,US,0.0,154.0,6500.00
331671,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
331672,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
331673,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
331674,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [148]:
data['state'].value_counts()

failed        197719
successful    133956
Name: state, dtype: int64

In [149]:
#converting date to numerical values and append into DF
data['deadline-year'] = data['deadline'].apply(lambda x: np.float(x[0:4]))
data['deadline_month'] = data['deadline'].apply(lambda x: np.float(x[5:7]))

data['launched_year'] = data['launched'].apply(lambda x: np.float(x[0:4]))
data['launched_month'] = data['launched'].apply(lambda x: np.float(x[5:7]))

data = data.drop(['deadline','launched'], axis = 1)
data

,category,main_category,currency,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,deadline-year,deadline_month,launched_year,launched_month
0,Poetry,Publishing,GBP,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95,2015.0,10.0,2015.0,8.0
1,Narrative Film,Film & Video,USD,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00,2017.0,11.0,2017.0,9.0
2,Narrative Film,Film & Video,USD,45000.0,220.0,failed,3,US,220.0,220.0,45000.00,2013.0,2.0,2013.0,1.0
3,Music,Music,USD,5000.0,1.0,failed,1,US,1.0,1.0,5000.00,2012.0,4.0,2012.0,3.0
4,Restaurants,Food,USD,50000.0,52375.0,successful,224,US,52375.0,52375.0,50000.00,2016.0,4.0,2016.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,Small Batch,Food,USD,6500.0,154.0,failed,4,US,0.0,154.0,6500.00,2017.0,4.0,2017.0,3.0
331671,Narrative Film,Film & Video,USD,1500.0,155.0,failed,5,US,155.0,155.0,1500.00,2011.0,7.0,2011.0,6.0
331672,Narrative Film,Film & Video,USD,15000.0,20.0,failed,1,US,20.0,20.0,15000.00,2010.0,8.0,2010.0,7.0
331673,Technology,Technology,USD,15000.0,200.0,failed,6,US,200.0,200.0,15000.00,2016.0,2.0,2016.0,1.0
331674,Performance Art,Art,USD,2000.0,524.0,failed,17,US,524.0,524.0,2000.00,2011.0,8.0,2011.0,7.0

In [150]:
data['state'] = data['state'].apply(lambda x: 0 if x == 'failed' else 1)
data

,category,main_category,currency,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,deadline-year,deadline_month,launched_year,launched_month
0,Poetry,Publishing,GBP,1000.0,0.0,0,0,GB,0.0,0.0,1533.95,2015.0,10.0,2015.0,8.0
1,Narrative Film,Film & Video,USD,30000.0,2421.0,0,15,US,100.0,2421.0,30000.00,2017.0,11.0,2017.0,9.0
2,Narrative Film,Film & Video,USD,45000.0,220.0,0,3,US,220.0,220.0,45000.00,2013.0,2.0,2013.0,1.0
3,Music,Music,USD,5000.0,1.0,0,1,US,1.0,1.0,5000.00,2012.0,4.0,2012.0,3.0
4,Restaurants,Food,USD,50000.0,52375.0,1,224,US,52375.0,52375.0,50000.00,2016.0,4.0,2016.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,Small Batch,Food,USD,6500.0,154.0,0,4,US,0.0,154.0,6500.00,2017.0,4.0,2017.0,3.0
331671,Narrative Film,Film & Video,USD,1500.0,155.0,0,5,US,155.0,155.0,1500.00,2011.0,7.0,2011.0,6.0
331672,Narrative Film,Film & Video,USD,15000.0,20.0,0,1,US,20.0,20.0,15000.00,2010.0,8.0,2010.0,7.0
331673,Technology,Technology,USD,15000.0,200.0,0,6,US,200.0,200.0,15000.00,2016.0,2.0,2016.0,1.0
331674,Performance Art,Art,USD,2000.0,524.0,0,17,US,524.0,524.0,2000.00,2011.0,8.0,2011.0,7.0

In [151]:
data['country'].unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'SE',
       'FR', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'NL', 'LU', 'SG', 'N,0"',
       'JP'], dtype=object)

In [152]:
{column : list(data[column].unique()) for column in data.columns if data.dtypes[column] == 'object'}

{'category': ['Poetry',
  'Narrative Film',
  'Music',
  'Restaurants',
  'Food',
  'Drinks',
  'Nonfiction',
  'Indie Rock',
  'Crafts',
  'Games',
  'Tabletop Games',
  'Design',
  'Comic Books',
  'Art Books',
  'Fashion',
  'Childrenswear',
  'Theater',
  'Comics',
  'DIY',
  'Webseries',
  'Animation',
  'Food Trucks',
  'Product Design',
  'Public Art',
  'Documentary',
  'Illustration',
  'Photography',
  'Pop',
  'People',
  'Art',
  'Family',
  'Fiction',
  'Film & Video',
  'Accessories',
  'Rock',
  'Hardware',
  'Software',
  'Weaving',
  'Web',
  'Jazz',
  'Ready-to-wear',
  'Festivals',
  'Video Games',
  'Anthologies',
  'Publishing',
  'Shorts',
  'Gadgets',
  'Electronic Music',
  'Radio & Podcasts',
  'Cookbooks',
  'Apparel',
  'Metal',
  'Comedy',
  'Hip-Hop',
  'Periodicals',
  'Dance',
  'Technology',
  'Painting',
  'World Music',
  'Photobooks',
  'Drama',
  'Architecture',
  'Young Adult',
  'Latin',
  'Mobile Games',
  'Flight',
  'Fine Art',
  'Action',
  'Playing Cards',
  'Makerspaces',
  'Punk',
  "Children's Books",
  'Apps',
  'Audio',
  'Performance Art',
  'Ceramics',
  'Vegan',
  'Graphic Novels',
  'Fabrication Tools',
  'Performances',
  'Sculpture',
  'Sound',
  'Stationery',
  'Print',
  "Farmer's Markets",
  'Thrillers',
  'Events',
  'Classical Music',
  'Graphic Design',
  'Spaces',
  'Country & Folk',
  'Wearables',
  'Journalism',
  'Mixed Media',
  'Movie Theaters',
  'Animals',
  'Digital Art',
  'Knitting',
  'Installations',
  'Community Gardens',
  'DIY Electronics',
  'Embroidery',
  'Camera Equipment',
  'Jewelry',
  'Farms',
  'Conceptual Art',
  'Fantasy',
  'Webcomics',
  'Horror',
  'Experimental',
  'Science Fiction',
  'Puzzles',
  'R&B',
  'Music Videos',
  'Video',
  'Plays',
  'Blues',
  'Bacon',
  'Faith',
  'Live Games',
  'Small Batch',
  'Woodworking',
  'Places',
  'Footwear',
  '3D Printing',
  'Zines',
  'Musical',
  'Workshops',
  'Photo',
  'Immersive',
  'Letterpress',
  'Academic',
  'Candles',
  'Television',
  'Space Exploration',
  'Gaming Hardware',
  'Nature',
  'Robots',
  'Typography',
  'Translations',
  'Calendars',
  'Textiles',
  'Pottery',
  'Interactive Design',
  'Video Art',
  'Glass',
  'Pet Fashion',
  'Crochet',
  'Printing',
  'Romance',
  'Civic Design',
  'Kids',
  'Literary Journals',
  'Couture',
  'Taxidermy',
  'Quilts',
  'Chiptune',
  'Residencies',
  'Literary Spaces'],
 'main_category': ['Publishing',
  'Film & Video',
  'Music',
  'Food',
  'Crafts',
  'Games',
  'Design',
  'Comics',
  'Fashion',
  'Theater',
  'Art',
  'Photography',
  'Technology',
  'Dance',
  'Journalism'],
 'currency': ['GBP',
  'USD',
  'CAD',
  'AUD',
  'NOK',
  'EUR',
  'MXN',
  'SEK',
  'NZD',
  'CHF',
  'DKK',
  'HKD',
  'SGD',
  'JPY'],
 'country': ['GB',
  'US',
  'CA',
  'AU',
  'NO',
  'IT',
  'DE',
  'IE',
  'MX',
  'ES',
  'SE',
  'FR',
  'NZ',
  'CH',
  'AT',
  'BE',
  'DK',
  'HK',
  'NL',
  'LU',
  'SG',
  'N,0"',
  'JP']}

In [153]:
def onehot_encode(df, columns, prefixes):
    for col, prefix in zip(columns, prefixes):
        df = df.copy()
        dummy = pd.get_dummies(df[col])
        df = pd.concat([df, dummy], axis = 1)
        df = df.drop(col, axis = 1)
        
    return df

In [154]:
data = onehot_encode(data, ['category', 'main_category', 'currency', 'country'], ['cat', 'main_cat', 'curr', 'ct'])

In [155]:
data

,goal,pledged,state,backers,usd pledged,usd_pledged_real,usd_goal_real,deadline-year,deadline_month,launched_year,...,JP,LU,MX,"N,0""",NL,NO,NZ,SE,SG,US
0,1000.0,0.0,0,0,0.0,0.0,1533.95,2015.0,10.0,2015.0,...,0,0,0,0,0,0,0,0,0,0
1,30000.0,2421.0,0,15,100.0,2421.0,30000.00,2017.0,11.0,2017.0,...,0,0,0,0,0,0,0,0,0,1
2,45000.0,220.0,0,3,220.0,220.0,45000.00,2013.0,2.0,2013.0,...,0,0,0,0,0,0,0,0,0,1
3,5000.0,1.0,0,1,1.0,1.0,5000.00,2012.0,4.0,2012.0,...,0,0,0,0,0,0,0,0,0,1
4,50000.0,52375.0,1,224,52375.0,52375.0,50000.00,2016.0,4.0,2016.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,6500.0,154.0,0,4,0.0,154.0,6500.00,2017.0,4.0,2017.0,...,0,0,0,0,0,0,0,0,0,1
331671,1500.0,155.0,0,5,155.0,155.0,1500.00,2011.0,7.0,2011.0,...,0,0,0,0,0,0,0,0,0,1
331672,15000.0,20.0,0,1,20.0,20.0,15000.00,2010.0,8.0,2010.0,...,0,0,0,0,0,0,0,0,0,1
331673,15000.0,200.0,0,6,200.0,200.0,15000.00,2016.0,2.0,2016.0,...,0,0,0,0,0,0,0,0,0,1
331674,2000.0,524.0,0,17,524.0,524.0,2000.00,2011.0,8.0,2011.0,...,0,0,0,0,0,0,0,0,0,1

In [156]:
#Splitting
X = data.drop('state', axis = 1)
Y = data['state']

In [157]:
X

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real,deadline-year,deadline_month,launched_year,launched_month,...,JP,LU,MX,"N,0""",NL,NO,NZ,SE,SG,US
0,1000.0,0.0,0,0.0,0.0,1533.95,2015.0,10.0,2015.0,8.0,...,0,0,0,0,0,0,0,0,0,0
1,30000.0,2421.0,15,100.0,2421.0,30000.00,2017.0,11.0,2017.0,9.0,...,0,0,0,0,0,0,0,0,0,1
2,45000.0,220.0,3,220.0,220.0,45000.00,2013.0,2.0,2013.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3,5000.0,1.0,1,1.0,1.0,5000.00,2012.0,4.0,2012.0,3.0,...,0,0,0,0,0,0,0,0,0,1
4,50000.0,52375.0,224,52375.0,52375.0,50000.00,2016.0,4.0,2016.0,2.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,6500.0,154.0,4,0.0,154.0,6500.00,2017.0,4.0,2017.0,3.0,...,0,0,0,0,0,0,0,0,0,1
331671,1500.0,155.0,5,155.0,155.0,1500.00,2011.0,7.0,2011.0,6.0,...,0,0,0,0,0,0,0,0,0,1
331672,15000.0,20.0,1,20.0,20.0,15000.00,2010.0,8.0,2010.0,7.0,...,0,0,0,0,0,0,0,0,0,1
331673,15000.0,200.0,6,200.0,200.0,15000.00,2016.0,2.0,2016.0,1.0,...,0,0,0,0,0,0,0,0,0,1
331674,2000.0,524.0,17,524.0,524.0,2000.00,2011.0,8.0,2011.0,7.0,...,0,0,0,0,0,0,0,0,0,1

In [158]:
Y

0         0
1         0
2         0
3         0
4         1
         ..
331670    0
331671    0
331672    0
331673    0
331674    0
Name: state, Length: 331675, dtype: int64

In [159]:
#Scaling
scaler = StandardScaler()

X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

In [160]:
X

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real,deadline-year,deadline_month,launched_year,launched_month,...,JP,LU,MX,"N,0""",NL,NO,NZ,SE,SG,US
0,-0.038690,-0.104182,-0.120549,-0.092377,-0.102793,-0.036049,0.393629,0.977775,0.424667,0.478937,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,-1.927949
1,-0.012748,-0.080351,-0.105012,-0.091174,-0.077765,-0.010379,1.435697,1.279416,1.460443,0.781327,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
2,0.000669,-0.102016,-0.117442,-0.089732,-0.100519,0.003147,-0.648438,-1.435355,-0.611109,-1.637795,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
3,-0.035111,-0.104172,-0.119514,-0.092365,-0.102783,-0.032924,-1.169472,-0.832072,-1.128997,-1.033015,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
4,0.005142,0.411363,0.111472,0.537260,0.438647,0.007656,0.914663,-0.832072,0.942555,-1.335405,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331670,-0.033770,-0.102666,-0.116406,-0.092377,-0.101201,-0.031571,1.435697,-0.832072,1.460443,-1.033015,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
331671,-0.038242,-0.102656,-0.115370,-0.090513,-0.101191,-0.036080,-1.690505,0.072851,-1.646885,-0.125844,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
331672,-0.026166,-0.103985,-0.119514,-0.092136,-0.102586,-0.023906,-2.211539,0.374493,-2.164773,0.176547,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
331673,-0.026166,-0.102213,-0.114335,-0.089972,-0.100726,-0.023906,0.914663,-1.435355,0.942555,-1.637795,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686
331674,-0.037795,-0.099024,-0.102941,-0.086077,-0.097376,-0.035629,-1.690505,0.374493,-1.646885,0.176547,...,-0.008328,-0.01311,-0.065363,-0.02517,-0.085571,-0.041926,-0.062096,-0.067605,-0.037023,0.518686

In [161]:
#Splitting into train & test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.8, random_state = 1)

In [162]:
print(X.shape, X_train.shape, X_test.shape)

(331675, 221) (265340, 221) (66335, 221)

In [163]:
Y.mean()

0.4038772895153388

In [166]:
#For Imbalanced class we use class_weight
class_weights = class_weight.compute_class_weight(
    'balanced',
    Y_train.unique(),
    Y_train
)

class_weights = dict(enumerate(class_weights))
class_weights

D:\TestPython\venv\Lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass classes=[0 1], y=216759    0
105192    1
262232    0
257799    0
94876     0
         ..
117583    1
73349     0
312201    0
267336    0
128037    0
Name: state, Length: 265340, dtype: int64 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

{0: 0.8382669792186621, 1: 1.2390612012365396}

In [168]:
inputs = tf.keras.Input(shape = (221,))
x = tf.keras.layers.Dense(64, activation = 'relu')(inputs)
x = tf.keras.layers.Dense(64, activation = 'relu')(x)
outputs = tf.keras.layers.Dense(1, activation = 'sigmoid')(x)

model = tf.keras.Model(inputs = inputs, outputs = outputs)

model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = [
        'accuracy',
        tf.keras.metrics.AUC(name = 'auc')
                ]
)

batch_size = 64
epochs = 100

history = model.fit(
    X_train,
    Y_train,
    validation_split=0.2,
    class_weight=class_weights,
    batch_size=batch_size,
    epochs=epochs,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True,
            verbose=1
        )
    ],
    verbose=2
)

Epoch 1/100
3317/3317 - 28s - loss: 0.4324 - accuracy: 0.8039 - auc: 0.8831 - val_loss: 0.3381 - val_accuracy: 0.8548 - val_auc: 0.9318
Epoch 2/100
3317/3317 - 3s - loss: 0.3072 - accuracy: 0.8687 - auc: 0.9420 - val_loss: 0.2876 - val_accuracy: 0.8761 - val_auc: 0.9503
Epoch 3/100
3317/3317 - 3s - loss: 0.2639 - accuracy: 0.8884 - auc: 0.9574 - val_loss: 0.2485 - val_accuracy: 0.8957 - val_auc: 0.9643
Epoch 4/100
3317/3317 - 3s - loss: 0.2334 - accuracy: 0.9021 - auc: 0.9667 - val_loss: 0.2269 - val_accuracy: 0.9063 - val_auc: 0.9687
Epoch 5/100
3317/3317 - 5s - loss: 0.2146 - accuracy: 0.9105 - auc: 0.9719 - val_loss: 0.2059 - val_accuracy: 0.9145 - val_auc: 0.9751
Epoch 6/100
3317/3317 - 4s - loss: 0.2026 - accuracy: 0.9157 - auc: 0.9748 - val_loss: 0.2159 - val_accuracy: 0.9103 - val_auc: 0.9726
Epoch 7/100
3317/3317 - 4s - loss: 0.1938 - accuracy: 0.9193 - auc: 0.9771 - val_loss: 0.1995 - val_accuracy: 0.9162 - val_auc: 0.9769
Epoch 8/100
3317/3317 - 4s - loss: 0.1872 - accuracy: 0.9223 - auc: 0.9785 - val_loss: 0.1910 - val_accuracy: 0.9221 - val_auc: 0.9774
Epoch 9/100
3317/3317 - 4s - loss: 0.1812 - accuracy: 0.9246 - auc: 0.9798 - val_loss: 0.1792 - val_accuracy: 0.9290 - val_auc: 0.9811
Epoch 10/100
3317/3317 - 4s - loss: 0.1755 - accuracy: 0.9267 - auc: 0.9811 - val_loss: 0.1830 - val_accuracy: 0.9255 - val_auc: 0.9818
Epoch 11/100
3317/3317 - 4s - loss: 0.1713 - accuracy: 0.9289 - auc: 0.9820 - val_loss: 0.1895 - val_accuracy: 0.9243 - val_auc: 0.9777
Epoch 12/100
3317/3317 - 4s - loss: 0.1679 - accuracy: 0.9300 - auc: 0.9827 - val_loss: 0.1712 - val_accuracy: 0.9292 - val_auc: 0.9826
Epoch 13/100
3317/3317 - 4s - loss: 0.1644 - accuracy: 0.9326 - auc: 0.9834 - val_loss: 0.1734 - val_accuracy: 0.9287 - val_auc: 0.9815
Epoch 14/100
3317/3317 - 3s - loss: 0.1618 - accuracy: 0.9336 - auc: 0.9839 - val_loss: 0.1696 - val_accuracy: 0.9289 - val_auc: 0.9834
Epoch 15/100
3317/3317 - 4s - loss: 0.1589 - accuracy: 0.9346 - auc: 0.9845 - val_loss: 0.1666 - val_accuracy: 0.9333 - val_auc: 0.9834
Epoch 16/100
3317/3317 - 3s - loss: 0.1564 - accuracy: 0.9353 - auc: 0.9849 - val_loss: 0.1572 - val_accuracy: 0.9359 - val_auc: 0.9843
Epoch 17/100
3317/3317 - 3s - loss: 0.1523 - accuracy: 0.9378 - auc: 0.9857 - val_loss: 0.1564 - val_accuracy: 0.9372 - val_auc: 0.9849
Epoch 18/100
3317/3317 - 4s - loss: 0.1511 - accuracy: 0.9376 - auc: 0.9859 - val_loss: 0.1476 - val_accuracy: 0.9422 - val_auc: 0.9861
Epoch 19/100
3317/3317 - 4s - loss: 0.1486 - accuracy: 0.9394 - auc: 0.9864 - val_loss: 0.1468 - val_accuracy: 0.9420 - val_auc: 0.9868
Epoch 20/100
3317/3317 - 4s - loss: 0.1478 - accuracy: 0.9396 - auc: 0.9865 - val_loss: 0.1440 - val_accuracy: 0.9429 - val_auc: 0.9873
Epoch 21/100
3317/3317 - 4s - loss: 0.1450 - accuracy: 0.9405 - auc: 0.9870 - val_loss: 0.1501 - val_accuracy: 0.9386 - val_auc: 0.9863
Epoch 22/100
3317/3317 - 4s - loss: 0.1422 - accuracy: 0.9421 - auc: 0.9875 - val_loss: 0.1487 - val_accuracy: 0.9408 - val_auc: 0.9862
Epoch 23/100
3317/3317 - 4s - loss: 0.1422 - accuracy: 0.9416 - auc: 0.9875 - val_loss: 0.1430 - val_accuracy: 0.9429 - val_auc: 0.9877
Epoch 24/100
3317/3317 - 4s - loss: 0.1393 - accuracy: 0.9436 - auc: 0.9880 - val_loss: 0.1476 - val_accuracy: 0.9396 - val_auc: 0.9874
Epoch 25/100
3317/3317 - 4s - loss: 0.1381 - accuracy: 0.9435 - auc: 0.9882 - val_loss: 0.1437 - val_accuracy: 0.9426 - val_auc: 0.9869
Epoch 26/100
3317/3317 - 3s - loss: 0.1371 - accuracy: 0.9444 - auc: 0.9884 - val_loss: 0.1449 - val_accuracy: 0.9392 - val_auc: 0.9872
Restoring model weights from the end of the best epoch.
Epoch 00026: early stopping

In [171]:
score = model.evaluate(X_test, Y_test)
score

2073/2073 [==============================] - 2s 778us/step - loss: 0.1390 - accuracy: 0.9430 - auc: 0.9884

[0.13902032375335693, 0.9430466294288635, 0.9884268045425415]

In [173]:
print('Accuracy: {:.2f}%'.format(score[1] * 100))

Accuracy: 94.30%